footer{
    background-color: $primary;
    display:flex;
    font-family: 'Play', sans-serif;
    font-size:2.4rem;
    font-weight:400;
    color:$brown;
      .container{
          padding:9rem 0;
      }
}
.icon{
    display: flex;
    img{
        height:2.5rem;
        width:2.5rem;
        margin-right: 2rem;
        margin-top: 3px;
    }
}
.footer-top{
    display:flex;
    justify-content:space-between
}
.phones{
    display:flex;
    flex-direction:column;
      .phone-item{
          display:flex;
          align-items:center;
          margin-bottom: 2.5rem;
      }
}
.text span {
    margin-left: 3.5rem;
}
.footer-bottom{
    display:flex;
    justify-content:space-between;
    margin-top: 4.5rem;
}
.copyright{
    font-size: 1.8rem;
}
.social-group{
    display:flex;
}
.fa-viber:hover{
    -webkit-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
    -moz-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
    box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
}
.fa-facebook-f:hover{
    -webkit-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
-moz-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
}
.fa-instagram:hover{
    -webkit-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
    -moz-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
    box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
}
.fa-whatsapp:hover{
    -webkit-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
    -moz-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
    box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
}
.fa-telegram-plane:hover{
    -webkit-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
-moz-box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
box-shadow: 0px 0px 2px 9px rgba(247, 143, 1, 0.68);
}