body{
   font-family: 'Play', sans-serif;
}
h1{
    font-family: 'Jura', sans-serif;
    font-size:7.2rem;
    font-weight:700;
    color:$brown;
}
h2{
    font-family: 'Jura', sans-serif;
    font-size:5.2rem;
    font-weight:700;
    color:$brown;
}
h3{
    font-family: 'Play', sans-serif;
    font-size:3rem;
    font-weight:400;
    color:$brown;
}
h4{
    font-family: 'Jura', sans-serif;
    font-size:6rem;
    font-weight:700;
    color:$brown;
}
h5{
    font-family: 'Play', sans-serif;
    font-size:3.6rem;
    font-weight:bold;
    color:$brown;
}
h6{
    font-family: 'Play', sans-serif;
    font-size:3.4rem;
    font-weight:400;
    color:$brown;
}
p{
    font-family: 'Play', sans-serif;
    font-size:2.4rem;
    font-weight:400;
    color:#606060;
    letter-spacing: 0.03em;
    line-height: 1.6;
}