$primary:#38C7D1;
$primary-light:#B1F3F8;
$brown:#643D31;
$black:#000000;
$orange:#F78F01;
$dark-grey:#424242;
$dark-orange:#F47751;
$light-grey:#939393;
$light:#E5E5E5;
$yellow:#FBBF13;
$light-white:#FAF5E7;
$pink:#F5C9BC;